/*    STRUTTURA   */

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-fluid {
    padding: 15px 0;
}

a {
    text-decoration: none;
}


header , .footer-bottom {
    background-color: #2C3E50;
}

.navbar {
    padding: 0;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.footer-top {
    background-color: #3A546D;
}

.fs-small {
    font-size: small;
}

.green {
    background-color: #1ABC9C;
}

.a-white{
    color: white;
}

.a-green {
    color: #1ABC9C;
}

.nav-link:hover , .navbar-brand:hover {
    background-color: rgba(127, 127, 127, 0.764);
    transition: 0.5s;
}

.a-green:hover {
    text-decoration: underline;
}

.line-white {
    width: 25%;
    height: 5px;
    border-radius: 25px;
    background-color: white;
}

.line-black {
    width: 25%;
    height: 5px;
    border-radius: 25px;
    background-color: black;
}

.border-secondary {
    --bs-border-opacity: 0.6;
    border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important;
  }


.circled-icon {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
}