/*    STRUTTURA   */
.box {
    background-color: rgb(255, 222, 209);
    border: 1px dashed red;
}

section {
    border: 1px solid black;
    padding: 30px;
}

.img-box {
    background-color: darkolivegreen;
    border-radius: 5px;
}