/*    UTILITY CLASSES    */

.bg-green {
    background-color: #1ABC9C;
}

.line-white {
    width: 25%;
    height: 4px;
    border-radius: 25px;
    background-color: white;
}

.line-black {
    width: 25%;
    height: 4px;
    border-radius: 25px;
    background-color: black;
}

.circled-icon {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
}

.fs-small {
    font-size: small;
}

.header-bottom .img-box {
    max-width: 200px;
}

/*     LINK     */

a {
    text-decoration: none;
}

.a-white{
    color: white;
}

.a-green {
    color: #1ABC9C;
}

.a-green:hover {
    text-decoration: underline;
}

/*    STRUTTURA   */

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-fluid {
    padding: 30px 0;
}


/*     HEADER     */

.header-top {
    padding: 5px 0;
}

header , .footer-bottom {
    background-color: #2C3E50;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    color: white;
    opacity: 1;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.nav-link:hover , .navbar-brand:hover {
    background-color: rgba(127, 127, 127, 0.764);
    transition: 0.5s;
}

/*     FOOTER     */

.footer-top {
    background-color: #3A546D;
    min-height: 150px
}

.footer-bottom {
    min-height: 80px;
}

#loghi a {
    margin: 0 2px;
}

/*    FORM    */

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid darkgray;
}